/*-------------------------------*/
/* start: document level styles  */
/*-------------------------------*/

/* 
 * The html and body settings are important to make the footer 
 * stick to the bottom when the body content is less than the 
 * viewport height. See 
 * https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook/Sticky_footers
 */
html {
    height: 100%;
}
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;

    /* override uglyduck setting */
    --max-body-width: 960px;
    max-width: var(--max-body-width)
}
a,
a:visited{

    /* reset uglyduck setting for a and a:visited */
    color:blue;
}
a.backhome1,
a.backhome2 {
    text-decoration: none;
    border: 1px solid grey;
    padding: .1rem .5rem;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: black;
    font-weight: 800;
}
a.backhome1:hover
a.backhome2:hover {
    background-color: grey;
    color: white;
}
pre {
    font-size: 0.55rem;
}
@media (min-width: 550px) {
    pre {
        font-size: 8pt;
    }
}

/* obscure hides the input element so #q_shadow stands out alone */
.obscure {
    /* opacity: 0; */
    /* z-index: -1; */
    display: none;
}

/* hidden hides the sections defined by the route */
.hidden {
    display: none;
}

.warning {
    color: orange;
}

/*-------------------------------*/
/* end: document level styles    */
/*-------------------------------*/
/* header styles                 */
/*-------------------------------*/
header {
    text-align: center;
}
@media (min-width: 550px) {
    header {
        height: 7rem;
        padding-top: 2.5rem;
    }
}
header img {
    cursor: pointer;
}
header nav {
    text-align: center;
    visibility: hidden;
    margin-top: -20px;
}
header nav ul {

    /* left padding ensures that "about" is aligned with the logo above */
    padding-left: 17px;
}
header nav ul li {
    display: inline;
    list-style: none;
    font-family: sans-serif;
    margin-right: 1rem;
}

/* 
 * https://gradienty.codes/animations
 * animation fade-in-normal
 */
 @keyframes fade-in-normal {0% { opacity: 0; } 100% { opacity: 1;} }

 .fade-in-normal { 
     visibility: visible;
     animation: fade-in-normal 1s ease-in 0s 1 normal none; 
 }

/*-------------------------------*/
/* end: header styles            */
/*-------------------------------*/
/* start: footer styles          */
/*-------------------------------*/
footer {
    text-align: center;
    font-family: sans-serif;
    font-size: .75rem;
}

/*-------------------------------*/
/* end: footer styles            */
/*-------------------------------*/
/* start: form styles            */
/*-------------------------------*/
form {

    /* 
     * forms don't have a default width or height, and 
     * instead, they take the dimensions of their content.
     * The var --form-width here is used to set the width 
     * of the content input field and div.
     */
    --form-width: 100%;
    --reset-button-width: 30px;
    --go-button-width: 50px;
    --button-height: 36px;
    --border-radius: 5px;
}
#form-wrapper {
    border: none;
}
#q_container {
    width: var(--form-width);
    position: relative;
/*     border: 1px solid lightgrey; */
    border-bottom: 1px dotted black;
    min-height: var(--button-height);
    padding: 2px 10px;
    border-radius: var(--border-radius);
}
#q_shadow {
    color: lightgrey;
    min-height: var(--button-height);
    line-height: 2.1rem;
}
#q {
    border: none;
    min-height: 32px;
    padding: 0;
}
#q_shadow,
#q {
    font-family: sans-serif;
    font-size: 1rem;
    width: var(--form-width);
    padding: 0 10px;

}
#q:focus {
    outline: none;
}
#buttons {
    border: 1px solid lightgrey;
    border-radius: var(--border-radius);
    display: inline-block;
    padding: 1px;
    margin-top: 0.25rem;
    position: relative;
}
#reset,
#go {
    border: 1px solid lightslategrey;
    cursor: pointer;
}
#reset {
    width: var(--reset-button-width);
    height: var(--button-height);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}
#reset:hover {
    background-color: red;
    color: white;
}
#go {
    border-radius: 0 var(--border-radius) var(--border-radius) 0;
    width: var(--go-button-width);
    height: var(--button-height);
}
#go:hover {
    background-color: lightgreen;
}
/* https://dev.to/dcodeyt/create-a-button-with-a-loading-spinner-in-html-css-1c0h */
@keyframes button-loading-spinner {
    from { transform: rotate(0turn); }
    to { transform: rotate(1turn); }
}
.button--loading::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 33px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: lightgreen;
    border: 4px solid transparent;
    border-top-color: darkgreen;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
    opacity: 0.75;

}

@media (min-width: 550px) {
    #q_container,
    #buttons {
        display: inline-block;
    }
    #q_container {
        width: calc(var(--form-width) - var(--reset-button-width) - var(--go-button-width) - 12px);
    }
}
/*-------------------------------*/
/* end: form styles              */
/*-------------------------------*/

.hl {
    color: green;
}
.res {
    color: green;
}
.message {
    margin: 0;
}
#answer {
    margin: 2rem 0;
}

@keyframes typing {
    from { width: 0; }
    to { width: 8ch; }
}
@keyframes blink {
    50% { opacity: 0; }
}
.typewriter {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 800ms steps(8, end);
  
    &::after {
      content: "";
      border-left: 2px solid #000;
      animation: blink 1s step-end infinite;
    }
}

/* grid for figures */
.columns {
    --column-count: 1;
    --column-gap: 30px;
    --image-size: 288px;
    --columns-width: calc( var(--image-size) * var(--column-count) );
    --gaps-width: calc( var(--column-gap) * (var(--column-count) - 1)  );
    --grid-width: calc( var(--columns-width) + var(--gaps-width) );

    width: var(--grid-width);
    max-width: var(--grid-width);
    margin: 0 auto;

    column-count: var(--column-count);
    -webkit-column-count: var(--column-count);
    -moz-column-count: var(--column-count);
    
    column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    -webkit-column-gap: var(--column-gap);

    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
}
/* Larger than phablet */
@media (min-width: 550px) {
    .columns {
        --column-count: 2 !important;
    }
}

/* Larger than tablet */
@media (min-width: 768px) {
    .columns {
        --column-count: 3 !important;
    }
}

figure {
    position: relative;
    height: auto;
    border: 1px solid #444;
    margin: 0;
    padding: 0px;
    opacity: 1;
    text-align: center;
}
figure img.lazyloaded {
    width: 100%;
    max-width: 300px;
}
figure a:hover {
    background-color: unset;
    padding: unset;
    border: unset;
    border-radius: unset;
}
figure .reveal {
    background-color: white;
    color: grey;
    font-family: sans-serif;
    font-size: 8px;
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}
figure .reveal:hover {
    background-color: lightgrey;
    color: black;
}
figure.figure-250 { 
    width: var(--image-size); 
    margin: 0 auto 20px auto;
}

/* Larger than phablet */
@media (min-width: 550px) {
    figure.figure-250 { 
        margin: 0 auto 20px auto;
    }
}
figure {
    font-family: sans-serif;
    font-size: 12px;
    padding: 1rem;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 1px #dbd9d5;
    
    /* avoid figures splitting across columns */
    /* see https://stackoverflow.com/a/17415553/183692 */
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid; 
}
figure.tb {
    padding: 1rem;
}
figcaption {
    font-family: helvetica,sans-serif;
    font-size: 10pt;
    text-align: left;
    cursor: pointer;
    line-height: 1.1rem;
    
}
figcaption div.closed {
    height: 0;
}
figcaption div.figTitle {
    font-weight: 800;
}
figcaption div.open {
    height: 100%;
}
figcaption h3 {
    line-height: 1.25rem;
}
figcaption details {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
figcaption details summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;

    /******************************/
    /* limit length of summary    */
    /* https://btxx.org/posts/te/ */
    /******************************/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
figcaption details[open] {
    padding: 0.5em;
    overflow: auto;
}
figcaption details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    overflow: unset;
    white-space: unset;
}